*.pyc
.vscode
*.so
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots

build/
diff_gaussian_rasterization.egg-info/
dist/

simple_knn.egg-info/

result*/

ckpt/

*.onnx
*.engine

third_party/

src/diff_surfel_rasterization_2d/CMakeLists.txt
CMakeLists.txt
Depth-Anything-3
